[buildout]
show-picked-versions = true

extensions = mr.developer
sources-dir = ${buildout:directory}/devsrc
always-checkout = force
auto-checkout +=
#    node
#    node.ext.ldap
#    node.ext.ugm
#    yafowil
#    yafowil.plone
#    yafowil.widget.array
#    yafowil.widget.dict

[versions]
# Override Plone/Zope versions that are too restrictive
importlib-metadata =
setuptools = <52
zc.buildout =

[repo]
rw = git@github.com:bluedynamics
ro = https://github.com/bluedynamics

[sources]
# node                 = git ${repo:ro}/node.git pushurl=${repo:rw}/node.git
# node.ext.ldap        = git ${repo:ro}/node.ext.ldap.git pushurl=${repo:rw}/node.ext.ldap.git
# node.ext.ugm         = git ${repo:ro}/node.ext.ugm.git pushurl=${repo:rw}/node.ext.ugm.git
# yafowil              = git ${repo:ro}/yafowil.git pushurl=${repo:rw}/yafowil.git
# yafowil.plone        = git ${repo:ro}/yafowil.plone.git pushurl=${repo:rw}/yafowil.plone.git
# yafowil.widget.array = git ${repo:ro}/yafowil.widget.array.git pushurl=${repo:rw}/yafowil.widget.array.git
# yafowil.widget.dict  = git ${repo:ro}/yafowil.widget.dict.git pushurl=${repo:rw}/yafowil.widget.dict.git
